@use 'src/styles/vars';

.form {
  max-width: 1400px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .ui.input .form__input {
    border: none;
    outline: none;
  }

  .ui .form__select {
    border: none;
    outline: none;
    width: 196px;
  }

  .ui.select-dark,
  .input-dark.ui.input > input {
    box-shadow: vars.$dark-mode-shadow;
    background-color: vars.$dark-mode-main !important;
    color: vars.$dark-mode-text;
  }

  .ui.select-light,
  .input-light.ui.input > input {
    box-shadow: vars.$light-mode-shadow;
    background-color: vars.$light-mode-main !important;
    color: vars.$light-mode-text;
  }

  .ui.selection.visible.dropdown > .text:not(.default) {
    color: inherit;
  }

  .ui.selection.dropdown:focus .menu {
    color: inherit;
    background-color: inherit;
  }
  .ui.dropdown .menu > .item {
    color: inherit;

    border: none;
  }
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;

    &__input {
      width: 100%;
      margin-bottom: 10px;
    }
    &__select {
      width: 100%;
    }
  }
}
