//Clear mode
$light-mode-main: #fff;
$light-mode-second: hsl(0, 0%, 98%);
$light-mode-shadow: 0px 3px 5px #e0e1e2;
$light-mode-text: hsl(200, 15%, 8%);

//Dark mode
$dark-mode-main: hsl(209, 23%, 22%);
$dark-mode-second: hsl(207, 26%, 17%);
$dark-mode-shadow: 0px 3px 5px #20272b;
$dark-mode-text: #fff;

/*
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
*/
